@model AccountingSystem.Models.Voucher

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h2>傳票明細異動</h2>
<br />

<form method="post" action="@Url.Action("EditVoucher", "MaintenanceVoucher")">

    <div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="inputVoucherID" class="col-form-label">傳票編碼</label>
                <input type="text" id="inputVoucherID" name="Voucher_ID" class="form-control" value="@Model.Voucher_ID" readonly />
            </div>
            <div class="col-md-3">
                <label for="inputVoucherDate" class="col-form-label">傳票日期</label>
                <input type="date" id="inputVoucherDate" name="Voucher_Date" class="form-control" value="@Model.Voucher_Date.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-md-3">
                <label for="inputVoucherType" class="col-form-label">傳票種類</label>
                <input type="text" id="inputVoucherType" name="Voucher_Type" class="form-control" value="@Model.Voucher_Type" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-md-3">
                <label for="inputListerID" class="col-form-label">傳票建立者</label>
                <input type="text" id="inputListerID" name="Lister_ID" class="form-control" value="@Model.Lister_ID"/>
            </div>
            <div class="col-md-3">
                <label for="inputVoucherState" class="col-form-label">傳票狀態</label>
                <input type="text" id="inputVoucherState" name="Voucher_State" class="form-control" value="@Model.Voucher_State" />
            </div>
        </div>
    </div>
    <br />
    <br />


    @Html.ActionLink("➕新增", "CreateVoucherDetail", new { }, new { @class = "btn btn-outline-dark btn-md" })
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-2">傳票編號</th>
                <th class="col-sm">序</th>
                <th class="col-sm-1">科目編碼</th>
                <th class="col-sm-1">會計科目</th>
                <th class="col-sm-1">借/貸</th>
                <th class="col-sm-1">金額</th>
                <th class="col-sm-1">部門認列</th>
                <th class="col-sm-1">產品認列</th>
                <th class="col-sm-2">摘要</th>
                <th class="col-sm-2">
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;

                foreach (var detail in Model.Details)
                {
                    <tr>

                        <th class="col-sm-2">
                            @detail.Voucher_ID
                        </th>
                        <th class="col-sm">
                            @detail.VDetail_Sn
                        </th>
                        <th class="col-sm-1">
                            @detail.Subject_ID
                        </th>
                        <th class="col-sm-1" id="Subject_DrCr">
                            @detail.Subject_Name
                        </th>
                        <th class="col-sm-1">
                            @detail.Subject_DrCr
                        </th>
                        <th class="col-sm-1" id="amountInput">
                            @(detail.DrCr_Amount.ToString("#,###"))
                        </th>
                        <th class="col-sm-1">
                            @detail.Dept_Name
                        </th>
                        <th class="col-sm-1">
                            @detail.Product_Name
                        </th>
                        <th class="col-sm-2">
                            @detail.Voucher_Note
                        </th>
                        <th class="col-sm-2">
                            @Html.ActionLink("編輯", "EditVoucherDetail", new { Voucher_ID = @Model.Voucher_ID, VDetail_Sn = @detail.VDetail_Sn }, new { @class = "btn btn-outline-dark btn-sm" })
                            |
                            @Html.ActionLink("刪除", "DeleteVoucherDetail", new { Voucher_ID = @Model.Voucher_ID, VDetail_Sn = @detail.VDetail_Sn }, new { @class = "btn btn-outline-dark btn-sm" })
                        </th>
                    </tr>
                    i++;
                }


            }

    </table>
    <br />
    <br />
    <input class="btn btn-outline-dark col-sm-1" type="submit" value="編輯" />
    <br />
    <br />
    <span id="debitTotal"></span>
    <span id="creditTotal"></span>

</form>
<script>
    @{
        decimal debitTotal = 0;
        decimal creditTotal = 0;
    }
    @foreach (var detail in Model.Details) {
        // 計算程式碼
        if(detail.Subject_DrCr == "借") {
            debitTotal += detail.DrCr_Amount;
        } else {
            creditTotal += detail.DrCr_Amount;
        }
    }

    // Update the text content of the spans directly with the calculated totals
     $("#debitTotal").text(debitTotal);
     $("#creditTotal").text(creditTotal);
</script>
