@model AccountingSystem.Models.Voucher
@using AccountingSystem.Models;
@{
    DBmanager dbmanager = new DBmanager();
    var details = dbmanager.GetVoucherDetails(Model.Voucher_ID);
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h2>傳票明細異動</h2>
<br />

<form method="post" action="@Url.Action("EditVoucher", "MaintenanceVoucher")">

    <div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="inputVoucherID" class="col-form-label">傳票編碼</label>
                <input type="text" id="inputVoucherID" name="Voucher_ID" class="form-control" value="@Model.Voucher_ID" readonly />
            </div>
            <div class="col-md-3">
                <label for="inputVoucherDate" class="col-form-label">傳票日期</label>
                <input type="date" id="inputVoucherDate" name="Voucher_Date" class="form-control" value="@Model.Voucher_Date.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-md-3">
                <label for="inputVoucherType" class="col-form-label">傳票種類</label>
                <input type="text" id="inputVoucherType" name="Voucher_Type" class="form-control" value="@Model.Voucher_Type" />
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-md-3">
                <label for="inputListerID" class="col-form-label">傳票建立者</label>
                <input type="text" id="inputListerID" name="Lister_ID" class="form-control" value="@Model.Lister_ID" />
            </div>
            <div class="col-md-3">
                <label for="inputVoucherState" class="col-form-label">傳票狀態</label>
                <input type="text" id="inputVoucherState" name="Voucher_State" class="form-control" value="@Model.Voucher_State" />
            </div>
        </div>
    </div>
    <br />
    <br />


    @Html.ActionLink("➕新增", "CreateVoucherDetail", new { Voucher_ID=Model.Voucher_ID }, new { @class = "btn btn-outline-dark btn-md" })
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-2">傳票編號</th>
                <th class="col-sm">序</th>
                <th class="col-sm-1">科目編碼</th>
                <th class="col-sm-1">會計科目</th>
                <th class="col-sm-1">借/貸</th>
                <th class="col-sm-1">金額</th>
                <th class="col-sm-1">部門認列</th>
                <th class="col-sm-1">產品認列</th>
                <th class="col-sm-2">摘要</th>
                <th class="col-sm-2">
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
                foreach (var detail in details)
                {
                    <tr>

                        <th class="col-sm-2">
                            @detail.Voucher_ID
                        </th>
                        <th class="col-sm">
                            @detail.VDetail_Sn
                        </th>
                        <th class="col-sm-1">
                            @detail.Subject_ID
                        </th>
                        <th class="col-sm-1" id="Subject_DrCr">
                            @detail.Subject_Name
                        </th>
                        <th class="col-sm-1">
                            @detail.Subject_DrCr
                        </th>
                        <th class="col-sm-1" id="amountInput">
                            @(detail.DrCr_Amount.ToString("#,###"))
                        </th>
                        <th class="col-sm-1">
                            @detail.Dept_Name
                        </th>
                        <th class="col-sm-1">
                            @detail.Product_Name
                        </th>
                        <th class="col-sm-2">
                            @detail.Voucher_Note
                        </th>
                        <th class="col-sm-2">
                            @Html.ActionLink("編輯", "EditVoucherDetail", new { Voucher_ID = @Model.Voucher_ID, VDetail_Sn = @detail.VDetail_Sn }, new { @class = "btn btn-outline-dark btn-sm" })
                            |
                            @Html.ActionLink("刪除", "DeleteVoucherDetail", new { Voucher_ID = @Model.Voucher_ID, VDetail_Sn = @detail.VDetail_Sn }, new { @class = "btn btn-outline-dark btn-sm deleteLink" })
                        </th>
                    </tr>
                    i++;

                }


            }

    </table>
    <br />
    <br />
    <div class="row text-center">
        <div id="debitTotal" class="col">借方合計:0</div>
        <div id="creditTotal" class="col">貸方合計:0</div>
        <div id="balance" class="col">借貸差額:0</div>
    </div>
    <br />
    <br />
    <div class="row">
        &emsp;
        <button class="btn btn-outline-dark col-sm-1" onclick="window.location.href = 'https://localhost:44361/MaintenanceVoucher/Voucher';">回上一頁</button>
        &emsp;
        <input class="btn btn-outline-dark col-sm-1" type="submit" value="儲存" />
    </div>
    <br />
    <br />

</form>
<script>
    //定義details變數
    var details =@Html.Raw(Json.Encode(details));
    console.log(details);
    let debitTotal = 0;
    let creditTotal = 0;
    

    //借貸總計
    function DrCr(detail) {
        if (detail.Subject_DrCr === "借") {
            debitTotal += detail.DrCr_Amount;
        } else {
            creditTotal += detail.DrCr_Amount;
        }
    }

    details.forEach(function (detail) {
        DrCr(detail);
    });
    var balance = Math.abs(debitTotal - creditTotal);
    if (balance > 0) {
        $("#balance").css("color", "red");
    }

    //提交form時如果有借貸差額 則警示
    $("form").submit(function () {
        if (balance > 0) {
            alert("借貸不平衡!");
            return false;
        }
    });

    //更新借貸總計
    function updateTotal() {
        console.log("Updating totals...");
        console.log("Debit Total: " + debitTotal);
        console.log("Credit Total: " + creditTotal);
        $("#debitTotal").text("借方合計：" + debitTotal);
        $("#creditTotal").text("貸方合計：" + creditTotal);
        $("#balance").text("借貸差額：" + balance);
    }

    //在循環外更新一次總計
    updateTotal();
   
    $(".deleteLink").click(function (event) {
        event.preventDefault();
        confirmDelete(this);
    });
    //刪除警示
    function confirmDelete(link) {
        Swal.fire({
            title: '確定要刪除嗎?',
            text: "刪除後無法復原",
            icon: 'warning',
            showCancelButton: true,
            reverseButtons: true,
            focusCancel: true
        }).then((result) => {
            if (result.value) {
                location.href = link.href;//轉到刪除頁面
            }
        });
        return false; // 防止默認行為
    }
</script>

