<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@using AccountingSystem.Models
@{
    ViewBag.Title = "會計傳票";
    List<Voucher> vouchers = ViewBag.vouchers;
}

<table>

    <tr>
        <th>
            <button class="btn btn-outline-dark" onclick="location.href='@Url.Action("CreateVoucher")'">
                新增傳票
            </button>
        </th>
    </tr>
</table>
<br />
<table class="table table-bordered">
    <thead>
        <tr class="table-dark">
            <th class="col-sm-1 align-middle">傳票編碼</th>
            <th class="col-sm-2 align-middle">傳票日期</th>
            <th class="col-sm-1 text-center align-middle">傳票種類</th>
            <th class="col-sm-1 text-center align-middle">傳票建立</th>
            <th class="col-sm-1 text-center align-middle">傳票狀態</th>
            <th class="col-sm-1 text-center">
                會計室長<br>
                簽核
            </th>
            <th class="col-sm-1 text-center">
                財務經理<br>
                簽核
            </th>
            <th class="col-sm-1 text-center">
                總經理<br>
                簽核
            </th>
            <th class="col-sm-2 text-center"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Voucher voucher in vouchers)
            {
                <tr>
                    <th class="col-sm-1">@voucher.Voucher_ID</th>
                    <th class="col-sm-2">@voucher.Voucher_Date.ToString("yyyy-MM-dd")</th>
                    <th class="col-sm-1 text-center">@voucher.Voucher_Type</th>
                    <th class="col-sm-1 text-center">@voucher.Lister_Name</th>
                    <th class="col-sm-1 text-center">
                        @switch (@voucher.Voucher_State)
                        {
                            case 0:
                                <text>建立</text>
                                break;
                            case 1:
                                <text>簽核1</text>
                                break;
                            case 2:
                                <text>簽核2</text>
                                break;
                            case 3:
                                <text>簽核3</text>
                                break;
                            case 4:
                                <text>正常</text>
                                break;
                            case 5:
                                <text>作廢</text>
                                break;
                            default:
                                <text>未知狀態</text>
                                break;
                        }
                    </th>
                    <th class="col-sm-1 text-center">@voucher.Checker_Name</th>
                    <th class="col-sm-1 text-center">@voucher.Auditor_Name</th>
                    <th class="col-sm-1 text-center">@voucher.Approver_Name</th>
                    <th class="col-sm-2">
                        <button class="btn btn-outline-dark btn-sm" onclick="location.href='@Url.Action("EditVoucher", new { Voucher_ID = voucher.Voucher_ID })'">
                            明細
                        </button>
                        |
                        <button id="deleteBtn" class="btn btn-outline-dark btn-sm" onclick="showDeleteConfirm('@voucher.Voucher_ID')">
                            刪除
                        </button>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    function showDeleteConfirm(Voucher_ID) {
    Swal.fire({
        title: '確定要刪除嗎?',
        text: "刪除後無法復原!",
        icon: 'warning',
        showCancelButton: true,
        reverseButtons: true,//把確認和取消按鈕的順序調換，使取消變成默認選中狀態
        focusCancel: true //默認取消按鈕為焦點按鈕
    }).then(
        result => {
            if (result.value) {
                location.href = '@Url.Action("DeleteVoucher")?Voucher_ID=' + Voucher_ID;
            }
        }
        )
    }
</script>