@model AccountingSystem.Models.Voucher

<table class="table">
    <thead>
        <tr>
            <th class="col-sm-2">傳票編號</th>
            <th class="col-sm">序</th>
            <th class="col-sm-1">會計編碼</th>
            <th class="col-sm-1">會計科目</th>
            <th class="col-sm-1">借/貸</th>
            <th class="col-sm-1">金額</th>
            <th class="col-sm-1">部門認列</th>
            <th class="col-sm-1">產品認列</th>
            <th class="col-sm-2">摘要</th>
            <th class="col-sm-2">
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;

            foreach (var detail in Model.Details)
            {
                <tr>

                    <th class="col-sm-2">
                        @detail.Voucher_ID
                    </th>
                    <th class="col-sm">
                        @detail.VDetail_Sn
                    </th>
                    <th class="col-sm-1">
                        @detail.Subject_ID
                    </th>
                    <th class="col-sm-1" id="Subject_DrCr">
                        @detail.Subject_DrCr
                    </th>
                    <th class="col-sm-1">
                        @detail.SubjectName
                    </th>
                    <th class="col-sm-1" id="amountInput">
                        @detail.DrCr_Amount
                    </th>
                    <th class="col-sm-1">
                        @detail.DeptName
                    </th>
                    <th class="col-sm-1">
                        @detail.ProductName
                    </th>
                    <th class="col-sm-2">
                        @detail.Voucher_Note
                    </th>
                    <th class="col-sm-2">
                        @Html.ActionLink("編輯", "EditVoucherDetail", new { Voucher_ID = @Model.Voucher_ID, VDetail_Sn = @detail.VDetail_Sn }, new { @class = "btn btn-outline-dark btn-sm" })
                        |
                        @Html.ActionLink("刪除", "DeleteVoucherDetail", new { Voucher_ID = @Model.Voucher_ID, VDetail_Sn = @detail.VDetail_Sn }, new { @class = "btn btn-outline-dark btn-sm" })
                    </th>
                </tr>
                i++;
            }


        }

</table>
<br />
<br />
<input class="btn btn-outline-dark col-sm-1" type="submit" value="編輯" />
<br />
<br />
<span id="debitTotal">300</span>
<span id="creditTotal">3333</span>
