@model List<AccountingSystem.Models.VoucherReportViewModel>
@{
    ViewBag.Title = "分類帳";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("", "FinancialReports", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <label for="startDate">起始日期：</label>
            <input type="date" id="startDate" name="startDate" class="form-control" value="@Request.QueryString["startDate"]" required />
        </div>
        <div class="col-md-4">
            <label for="endDate">截止日期：</label>
            <input type="date" id="endDate" name="endDate" class="form-control" value="@Request.QueryString["endDate"]" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="startDate">起始部門：</label>
            <input type="date" id="startDate" name="startDate" class="form-control" value="@Request.QueryString["startDate"]" required />
        </div>
        <div class="col-md-4">
            <label for="endDate">截止部門：</label>
            <input type="date" id="endDate" name="endDate" class="form-control" value="@Request.QueryString["endDate"]" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="startDate">起始科目：</label>
            <input type="date" id="startDate" name="startDate" class="form-control" value="@Request.QueryString["startDate"]" required />
        </div>
        <div class="col-md-4">
            <label for="endDate">截止科目：</label>
            <input type="date" id="endDate" name="endDate" class="form-control" value="@Request.QueryString["endDate"]" required />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-dark">搜尋</button>
}
@if(Model!=null && Model.Any())
 {
   <br/>
   <table class="table">
       <thead>
           <tr>
               <th class="col-sm-1">科目編號</th>
               <th class="col-sm-2 text-center">會計科目</th>
               <th class="col-sm-2">傳票日期</th>
               <th class="col-sm-1 text-center">類別</th>
               <th class="col-sm-1 text-center">傳票編號</th>
               <th class="col-sm-1 text-center">序號</th>
               <th class="col-sm-1 text-center">摘要</th>
               <th class="col-sm-1">借貸方向</th>
               <th class="align-text-bottom text-center">金額</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var item in Model)
            {
               <tr>
                   <td class="col-sm-1 text-center">@item.Subject_ID</td>
                   <td class="col-sm-2 text-center">@item.Subject_Name</td>
                   <td class="col-sm-2">@item.Voucher_Date.ToString("yyyy-MM-dd")</td>
                   <td class="col-sm-1 text-center">@item.Voucher_Type</td>
                   <td class="col-sm-1">@item.Voucher_ID</td>
                   <td class="col-sm-1">@item.VDetail_Sn</td>
                   <td class="col-sm-2">@item.Voucher_Note</td>
                   <td class="col-sm-1 text-center">@item.Subject_DrCr</td>
                   <td class="align-text-bottom text-end">@(item.DrCr_Amount.ToString("#,###"))</td>
               </tr>
            }
       </tbody>
   </table>
 }
@using (Html.BeginForm("","",FormMethod.Get))
{

}