@model List<AccountingSystem.Models.VoucherReportViewModel>
@{
    ViewBag.Title = "日記帳";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<h2>@ViewBag.Title</h2>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
    <br />
}
@using (Html.BeginForm("SearchVoucherDetails", "FinancialReports", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <label for="startDate">起始日期：</label>
            <input type="date" id="startDate" name="startDate" class="form-control" value="@Request.QueryString["startDate"]" required />
        </div>
        <div class="col-md-4">
            <label for="endDate">截止日期：</label>
            <input type="date" id="endDate" name="endDate" class="form-control" value="@Request.QueryString["endDate"]" required />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-dark">搜尋</button>
    <br />
}
@if (ViewBag.selectedStartDate!=null||ViewBag.selectedEndDate!=null)
{
    <br />
    <div class="alert alert-info">
        <strong>查詢條件：</strong>
        <br />
        起始日期：@ViewBag.selectedStartDate.ToString("yyyy/MM/dd")
        <br />
        截止日期：@ViewBag.selectedEndDate.ToString("yyyy/MM/dd")
        <br />
    </div>
}
@* Model不為空且至少包含一個元素 *@
@if (Model != null && Model.Any())
{
    <br />
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-2">傳票日期</th>
                <th class="col-sm-1 text-center">類別</th>
                <th class="col-sm-1 text-center">傳票編號</th>
                <th class="col-sm-1 text-center">科目編號</th>
                <th class="col-sm-2 text-center">會計科目</th>
                <th class="col-sm-2 text-center">摘要</th>
                <th class="col-sm-1">認列部門</th>
                <th class="col-sm-1">借貸方向</th>
                <th class="align-text-bottom text-center">金額</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-sm-2">@item.Voucher_Date.ToString("yyyy-MM-dd")</td>
                    <td class="col-sm-1 text-center">@item.Voucher_Type</td>
                    <td class="col-sm-1">@item.Voucher_ID</td>
                    <td class="col-sm-1 text-center">@item.Subject_ID</td>
                    <td class="col-sm-2 text-center">@item.Subject_Name</td>
                    <td class="col-sm-2">@item.Voucher_Note</td>
                    <td class="col-sm-1">@item.Dept_Name</td>
                    <td class="col-sm-1 text-center">@item.Subject_DrCr</td>
                    <td class="align-text-bottom text-end">@(item.DrCr_Amount.ToString("#,###"))</td>
                </tr>
            }
        </tbody>
    </table>
    
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-2">傳票日期</th>
                <th class="col-sm-1 text-center">類別</th>
                <th class="col-sm-1 text-center">傳票編號</th>
                <th class="col-sm-1 text-center">科目編號</th>
                <th class="col-sm-2 text-center">會計科目</th>
                <th class="col-sm-2 text-center">摘要</th>
                <th class="col-sm-1">認列部門</th>
                <th class="col-sm-1">借貸方向</th>
                <th class="align-text-bottom text-center">金額</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="10" class="fs-4 text-center">查無資料。</td>
            </tr>
        </tbody>
    </table>
}

@using (Html.BeginForm("GenerateVoucherReport", "FinancialReports", FormMethod.Get))
{
    @Html.Hidden("startDate", Request.QueryString["startDate"])
    @Html.Hidden("endDate", Request.QueryString["endDate"])
    <br />
    <button type="submit" class="btn btn-outline-dark">下載報表(PDF)</button>
}

<script>
    function validateDates() {
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();

        if (startDate && endDate && startDate > endDate) {
            alert('起始日期不能晚於截止日期!');
            //阻止表單提交
            return false;
        }
        //允許表單提交
        return true;
    }

    //綁定validateDates函數到表單提交事件
    $('form').submit(function (event) {
        if (!validateDates()) {
            event.preventDefault();
        }
    })
</script>
