@using AccountingSystem.Models;
@{
    List<VoucherDetail> voucherDetails = ViewBag.voucherDetails;
}

<table class="table">
    <thead>
        <tr>
            <th class="col-sm-1">傳票編號</th>
            <th class="col-sm-1">序</th>
            <th class="col-sm-1">會計科目</th>
            <th class="col-sm-1">借/貸</th>
            <th class="col-sm-1">金額</th>
            <th class="col-sm-1">部門認列</th>
            <th class="col-sm-2">產品認列</th>
            <th class="col-sm-1">摘要</th>
            <th class="col-sm-3"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (VoucherDetail voucherDetail in voucherDetails)
            {
                <tr>
                    <th class="col-sm-1">@voucherDetail.Voucher_ID</th>
                    <th class="col-sm-2">@voucherDetail.VDetail_Sn</th>
                    <th class="col-sm-1">@voucherDetail.Subject_ID</th>
                    <th class="col-sm-1">@voucherDetail.Subject_DrCr</th>
                    <th class="col-sm-1">@voucherDetail.DrCr_Amount</th>
                    <th class="col-sm-1">@voucherDetail.Dept_ID</th>
                    <th class="col-sm-2">@voucherDetail.Product_ID</th>
                    <th class="col-sm-1">@voucherDetail.Voucher_Note</th>
                    <th class="col-sm-3">
                        <button class="btn btn-outline-dark btn-sm" onclick="location.href='@Url.Action("EditVoucherDetail",new {Voucher_ID=voucherDetail.Voucher_ID,VDetail_Sn=voucherDetail.VDetail_Sn})'">
                            編輯
                        </button>
                        |
                        <button class="btn btn-outline-dark btn-sm" onclick="location.href='@Url.Action("DeleteVoucherDetail",new {Voucher_ID=voucherDetail.Voucher_ID,VDetail_Sn=voucherDetail.VDetail_Sn})'">
                            刪除
                        </button>
                    </th>
                </tr>
            }
        }
</table>
