@using AccountingSystem.Models;
@{
    List<AccountingSubject> accountingSubjects = ViewBag.accountingSubjects;
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<button class="btn btn-outline-dark" onclick="location.href='@Url.Action("CreateSubject")'">
    新增會計科目
</button>
<br />
<br />
<table class="table table-bordered" id="subjectTable">
    <thead>
        <tr class="table-dark">
            <th class="col-sm-2">會計科目編碼</th>
            <th class="col-sm-3">會計科目</th>
            <th class="col-sm-2">會計科目主分類</th>
            <th class="col-sm-3">會計科目子分類</th>
            <th class="col-sm-2"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (AccountingSubject accountingSubject in accountingSubjects)
            {
                <tr>
                    <th class="col-sm-2">@accountingSubject.Subject_ID</th>
                    <th class="col-sm-3">@accountingSubject.Subject_Name</th>
                    <th class="col-sm-2">@accountingSubject.Subject_MainGroup</th>
                    <th class="col-sm-3">@accountingSubject.Subject_SubGroup</th>
                    <th class="col-sm-2">
                        @Html.ActionLink("編輯", "EditSubject", new { Subject_ID = accountingSubject.Subject_ID }, new {@class= "btn btn-outline-dark btn-sm" })
                        |
                        @Html.ActionLink("刪除", "DeleteSubject", new { Subject_ID = accountingSubject.Subject_ID }, new {@class= "btn btn-outline-dark btn-sm deleteLink" })
                    </th>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(".deleteLink").click(function (event) {
        event.preventDefault();
        confirmDelete(this);
    })
    function confirmDelete(link) {
        Swal.fire({
            title: '確定要刪除嗎?',
            text: "刪除後無法復原",
            icon: 'warning',
            showCancelButton: true,
            reverseButtons: true,
            focusCancel: true
        }).then((result) => {
            if (result.value) {
                location.href = link.href;//轉到刪除頁面
            }
        });
    }
</script>
