<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 會計系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script></script>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("會計系統", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li>@Html.ActionLink("會計傳票", "Voucher", "MaintenanceVoucher", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("會計科目", "AccountingSubject", "MaintenanceAccountingSubject", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("產品別", "Product", "MaintenanceProduct", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("部門別", "Department", "MaintenanceDepartment", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            財務報表
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">平時會計程序</a>
                            <div class="dropdown-divider" href="#"></div>
                            <a class="dropdown-item" href="@Url.Action("SearchVoucherDetails","FinancialReports")">日記帳</a>
                            <a class="dropdown-item" href="@Url.Action("GeneralLedger","FinancialReports")">總分類帳</a>
                            <a class="dropdown-item" href="#">試算表</a>
                            <br/>
                            <a class="dropdown-item" href="#">期末會計程序</a>
                            <div class="dropdown-divider" href="#"></div>
                            <a class="dropdown-item" href="#">資產負債表</a>
                            <a class="dropdown-item" href="#">現金流量表</a>
                            <a class="dropdown-item" href="#">綜合損益表</a>
                            <a class="dropdown-item" href="#">權益變動表</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 會計系統</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>